 "effects.scss"
 ================================================================================================================================================================================

  .container {
    border:2px solid red;
    padding:10px;
    h2 {
        background-color: yellow;
        text-align: center;
    }
    p {
        color:blue;
    }
}
===================================================================================================================================================================================

2. Compile
        > sass effects.scss  effects.css
        
========================================================================================================================================================================================        

3. Link CSS to Home.html
====================================================================================================================================================================================
<!DOCTYPE html>
<html>
    <head>
        <title>Sass Demo</title>
        <link rel="stylesheet" href="./effects.css">
    </head>
    <body>
        <div class="container">
            <h2>SASS</h2>
            <p>CSS Pre Compiler</p>
        </div>
        <h2>JavaScript</h2>
        <p>Language for Interactions client side.</p>
    </body>
</html>
